doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="app/bin/client/css/index.css" rel="stylesheet" type="text/css" )
    title Hello world!
  body
    riot-table
    script(src="app/bin/client/js/index.js")

