doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="stylesheets/index.css" rel="stylesheet" type="text/css" )
    title Hello world!
  body
    div.row
      div.col.s12
        div.card
          div.card-content
            riot-table
    script(src="javascripts/index.js")

